<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Verify OTP</title>
  <link rel="stylesheet" href="style.css">
  
</head>
<body>
  <h1 id="head"><%= otp1%></h1>
  <div class="container">
 
    <form class="otp-form" action=<%= redirect %> method="post">
      <h2 id="head">Verify OTP</h2>
      <div class="form-group">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" name="otp" required>
        <input type="hidden" name="email" value= <%= email%> >
      </div>
      <button type="submit">Verify OTP</button>
    </form>
    <script>
      let head=document.querySelector('#head')
      setTimeout(()=>{
      head.style.display="none"
      },1500)
    </script>
  </div>
</body>
</html>